html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* 使用視窗高度作為最小高度 */
}

/* 主內容區域樣式 */
main {
  flex: 1 0 auto;
  /* 允許擴展但不允許收縮 */
  width: 100%;
  padding-top: 32px;
  overflow-y: auto;
  /* 當內容過多時顯示滾動條 */
}

/* 確保頁腳跟隨內容滾動 */
footer {
  flex-shrink: 0;
  /* 防止 footer 被壓縮 */
}
