html,
body,
#root {
  height: 100%;
  margin: 0;
  /* 去掉默認的外邊距 */
  padding: 0;
  /* 移除所有方向的內邊距 */
}

.App {
  min-height: 100vh;
  /* 設置 App 的高度為 100% */
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  flex: 1;
  /* 這會讓 main 撐開剩下的空間 */
  padding-top: 56px;
  /* 保證 main 的內容區域下移，避開 Navbar */
}
