/* 測試 LINE 串接 頁面樣式 */

.container {
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.pageWrapper {
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
