html,
body {
  height: 100%;
  margin: 0;
  /* 去掉默認的外邊距 */
}

.App {
  height: 100%;
  /* 設置 App 的高度為 100% */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  padding-top: 56px;
  /* 假設你的 Navbar 高度是 56px，根據實際調整 */
}
